
<!--
https://open-resources.herokuapp.com/
-->              
 <div class="bg-image">
        <p class="knockout-text">
            <span class="desc">STOP SEARCHING FOR OPEN SOURCE RESOURCES </span>
        </p>
    </div>