
<!--
https://open-resources.herokuapp.com/
-->              
 <div class="bg-image container-fluid">
        <p class="knockout-text">
            <span class="desc">STOP SEARCHING FOR OPEN SOURCE RESOURCES </span>
        </p>
    </div>

<div class="main main-raised">
<div class="container">

	<div class="info">
	<div class="icon icon-primary">
		<i class="material-icons">chat</i>
	</div>
	<h4 class="info-title">Free Chat</h4>
	<p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
	</div>
</div>    
</div>
